<section> 
    <div class="title"> 

      <h1>The {{ collection.title }} is out Now</h1>
        {% if section.settings.title != blank %}
          <h2> {{section.settings.title}}</h2>
        {% endif %}
        <p> {{ section.settings.description }}</p>
    </div>
</section>

{% schema %}
{
    "name": "Call To Action",
    "enabled_on": {
    "templates": ["collection"]
    },
    "settings": [
        {
            "type": "header",
            "content": "Collection Template Customization"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Write the Title",
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Write  pre-book details",
            "default":"Embrace the warmth with our breezy summer collection featuring vibrant prints,"
        }
    ],
    "presets": [
        {
            "name": "Call To Action"
        }
    ]
}
{% endschema %}