:root {
  --gothic-font: "Dharma Gothic E";
  --regular-arialMT-font: "ArialMT";
}

@font-face {
  font-family: "Dharma Gothic E";
  src: url("https://cdn.shopify.com/s/files/1/0607/5393/6592/files/DharmaGothicE-RegularItalic.woff2?v=1758820769")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0607/5393/6592/files/DharmaGothicE-RegularItalic.woff?v=1758820747")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Dharma Gothic E";
  src: url("https://cdn.shopify.com/s/files/1/0607/5393/6592/files/DharmaGothicE-Regular.woff2?v=1758820770")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0607/5393/6592/files/DharmaGothicE-Regular.woff?v=1758820771")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ArialMT";
  src: url("https://cdn.shopify.com/s/files/1/0607/5393/6592/files/ArialMT.woff2?v=1758846792")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0607/5393/6592/files/ArialMT.woff?v=1758846792")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.custom-page-width {
  max-width: 1500px;
  margin: 0 auto;
}

.text a {
  color: #00ab5b;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.text a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ab5b;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}
